// variables
$white-color: #fff;
$primary-color:#F06636;
$secondary-color:#34355E;
$text-color:#585A67;
$dark-text-color:#46424B;
// breakpoints

$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$desktop: 1200px;
$mid-desktop: 1400px;
$large-desktop: 1700px;
